<!-- <body>
    <div class="container col-xxl-8 px-4 py-5" *ngFor="let post of myPosts">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg" routerLink = "/post/{{post._id}}">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{post.meme}}" class="d-block mx-lg-auto img-fluid" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">{{post.title}}</h1>
                <p class="lead">{{post.description}}</p>
            </div>
        </div>
    </div>
</body> -->

<p>post component posted</p>