<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <input #admin1 type="hidden" value="{{admin}}">
    <ul class="nav navbar-nav mr-auto">
        <li *ngIf="admin1.value == 'true'" class="nav-item" role="presentation" routerLinkActive="active"><a class="nav-link" routerLink="/addUser">Add User</a></li>
        <li *ngIf="admin1.value == 'true'" class="nav-item" role="presentation" routerLinkActive="active"><a class="nav-link" routerLink="/userList">User List</a></li>
        <li class="nav-item" role="presentation" routerLinkActive="active"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
        <li class="nav-item" role="presentation" routerLinkActive="active"><a class="nav-link" routerLink="/addPost">Post</a></li>
        <li *ngIf="!isSearchPressed else searchBar" class="nav-item" role="presentation" routerLinkActive="active"><a class="nav-link" routerLink="/search">Search</a></li>
        <ng-template #searchBar><app-searchbar (postOutPut)='emitPosts($event)'></app-searchbar></ng-template>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item" role="presentation" routerLinkActive="active"><a class="nav-link" (click)="logout()" routerLink="/login">Logout</a></li>
    </ul>
</nav>

<body>
    <div class="container col-xxl-8 px-4 py-5" *ngFor="let post of posts">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{post.meme}}" class="d-block mx-lg-auto img-fluid" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">{{post.title}}</h1>
                <p class="lead">{{post.description}}</p>
            </div>
        </div>
    </div>
</body>