<app-navbar></app-navbar>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Product</th>
            <th scope="col">Data</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let product of products">
            <td>{{product._id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.data}}</td>
            <td>{{product.price}}</td>
        </tr>
    </tbody>
</table>